* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    outline-color: none !important;
}


.mainPosterOuter {
    overflow: hidden;
}

.productOneMain {
    overflow: hidden;
}

.productTwoOuter {
    overflow: hidden;
}

.marketing {
    overflow: hidden;
}

.marketing2 {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
a {
    margin: 0px;
    padding: 0px;
}

img {
    width: 100%;
}

.navbar-brand img {
    width: 80px;
}

.pinkBadge {
    background: #dd4797;
}

.orangeBadge {
    background: #fd8534;
}

.headerButton {
    background: #dd4797;
    border-color: #dd4797;
}

.headerButton:hover {
    background: #bb0064;
}

.navbar {
    text-transform: uppercase;
    font-weight: 500;
    color: #333;
}

.nav-link {
    color: #fd8534;
}

.navbar-collapse {
    flex-grow: 0;
}

.nav-item {
    padding: 0 10px;
}

.dropdown-menu {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
}

.login {
    background: #fd8534;
    border: none;
}

.login:hover {
    background: #c15a15;
}

.login:active {
    background: #c15a15;
}

.mainPosterOuter {
    position: relative;
}

.mainPosterText {
    top: 10%;
    left: 10%;
    position: absolute;
}

.mainPosterText h2 {
    font-size: 130px;
    font-weight: 500;
    text-transform: uppercase;
    color: #dd4797;
}

.mainPosterText h2::first-letter {
    color: #fd8534;
}

.mainPosterText h4 {
    text-transform: uppercase;
    font-size: 28px;
}

.mainPosterText p {
    font-size: 18px;
}

.mainPosterText a {
    margin-top: 10px;
    font-weight: 500;
    display: inline-block;
    margin-top: 30px;
    background: #fd8534;
    text-decoration: none;
    padding: 14px 30px;
    font-size: 16px;
    border-radius: 100px;
    color: white;
    text-transform: uppercase;

}

.mainPosterText a:hover {
    background-color: #c15a15;
}



.service img {
    width: 100px;
}


.Heading h2 {
    font-size: 50px;
    display: inline-block;
    position: relative;
}

.Heading h2 span {
    color: #fd8534;
}

.shoeLeft {
    overflow: hidden;
}

.shoeRight {
    overflow: hidden;
}

.shoeLeft img {
    transition: all 0.3s ease-out;
}

.shoeRight img {
    transition: all 0.3s ease-out;
}

.shoeLeft:hover img {
    scale: 1.03;
    transform: rotate(10deg);

}

.shoeRight:hover img {
    scale: 1.03;
    transform: rotate(-10deg);

}

.Heading h2::after {
    content: '';
    height: 2px;
    width: 200px;
    margin: 0 10px;
    display: block;
    position: absolute;
    background-image: linear-gradient(to right, #ffffff00, #fd8534);
    top: 50%;
    transform: translate(0, -50%);
    right: 100%;
    transition: all 0.25s ease-out;
    z-index: -2;
}

.Heading h2:hover::after {
    position: absolute;
    top: 0%;
    right: 50%;
}

.Heading h2::before {
    content: '';
    height: 2px;
    width: 200px;
    margin: 0 10px;
    display: block;
    position: absolute;
    background-image: linear-gradient(to left, #ffffff00, #fd8534);
    top: 50%;
    transform: translate(0, -50%);
    left: 100%;
    transition: all 0.25s ease-out;
    z-index: -2;
}

.Heading h2:hover::before {
    position: absolute;

    top: 100%;
    left: 50%;
}

.productsDad {
    background-color: whitesmoke;
    border-radius: 10px;

}

.productsDad:hover img {
    transform: rotate(-15deg);
    filter: drop-shadow(8px 8px 3px rgba(0, 0, 0, 0.671));
}


.productsDad img {
    transition: all 0.3s ease-out;
}


.productsDad h3 {
    margin: 8px 0 8px 20px;
    transition: all 0.15s ease-out;
    display: inline-block;
}

.productsDad:hover h3 {
    color: #dd4797;
}

.productsDad p {
    margin: 8px 0 8px 20px;
}

.KnowMoreDiv li::marker {
    color: #dd4797;
    font-size: 18px;
}

.KnowMoreDiv h4 {

    color: #dd4797;
    font-size: 30px;
}

.productsDad input {
    margin: 8px 0 8px 20px;
}

.productsDad h5 {
    margin: 8px 0 8px 20px;
}

.productsDad input {
    background-color: #dd4797;
    border: none;
}

.productsDad input:hover {
    background-color: #bb0064;
}

.productsDad span {
    color: #5f5f5f;
    text-decoration: line-through;
    font-size: 15px;
}

.KnowMoreDiv .form-check-input {
    float: none;
}

.productsDad .knowInput {
    margin: 0;
}

.KnowMoreDiv input {
    margin: 0;
}

.KnowMoreDiv li p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    -webkit-box-orient: vertical;
    margin: 0;
    padding: 0;
}

.reviewHolder {
    width: 150px;
    border-radius: 500px;
    overflow: hidden;
    margin: 15px auto;
    transition: all 0.3s ease-out;
}

.reviewHolder:hover {
    scale: 1.1;
}

.reviewButton {
    background-color: #fd8534;
    color: white;
}

.reviewButton:hover {
    background-color: #c15a15;
    color: white;
}

.footerImage img {
    width: 100px;
}

.footerImage li {
    margin: 5px 0px;

}

.footerImage li a {
    transition: all 0.25s ease-out;
}

.footerOuter {
    background-color: whitesmoke;
}





body {
    background-color: black;
}



.navbar {
    background: rgb(0, 0, 0) !important;
}

.navbar li>a {
    color: #dd4797 !important;
}

.navbar li ul li a {
    color: #000000 !important;
}

.navbar .dropdown>a {
    color: #fd8534 !important;
}

.navbar img {

    filter: invert(10);
}


.alert {
    background-color: #333;
    border: none;
    color: white !important;
    margin-bottom: 0px;
}

.alert .btn-close {
    background-color: #333;
    border: none;
    color: white !important;

}


.mainPosterOuter {
    background-color: #000000;
}

.mainPosterOuter img {
    animation: main 2s ease-in-out 4s infinite alternate;
}

@keyframes main {
    50% {
        transform: translateY(7%) rotate(-4deg);
    }
}

.mainPosterOuter h4 {
    color: white;
}

.mainPosterOuter h2 {
    font-weight: 700;
    transform: scaleX(1.1);
    -webkit-text-stroke: 4px #dd4797;
    color: rgba(255, 255, 255, 0);
    letter-spacing: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.mainPosterOuter h2::first-letter {
    font-weight: 700;
    transform: scaleX(1.1);
    -webkit-text-stroke: 4px #fd8534;
    color: rgba(255, 255, 255, 0);
    letter-spacing: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.mainPosterOuter p {
    color: white;
}

.mainPosterOuter a {
    color: rgb(0, 0, 0);
}

.mainPosterOuter a {
    background: linear-gradient(-45deg, #dd4797, #fd8534) !important;
}

.navbar button {
    background: linear-gradient(-45deg, #dd4797, #fd8534) !important;
    border: none;

}

button p {
    color: black;
    font-weight: 500;
}

.navbar button:active {
    background: linear-gradient(-45deg, #dd479795, #fd853895) !important;

}

.navbar button:hover {
    background: linear-gradient(-45deg, #dd479795, #fd853495) !important;
    color: white;

}

.mainPosterOuter a:active {
    background: linear-gradient(-45deg, #dd479795, #fd853895) !important;

}

.mainPosterOuter a:hover {
    background: linear-gradient(-45deg, #dd479795, #fd853495) !important;

}

.productsDad .btn:active {
    background: linear-gradient(-45deg, #dd479795, #fd853895) !important;

}

.productsDad .btn:hover {
    background: linear-gradient(-45deg, #dd479795, #fd853495) !important;

}

.KnowMoreDiv input:checked {
    background-color: #dd4797;
    border-color: #dd4797;
}

.navTick input{
    background-color: #00000000 !important;
    border-color: black !important;
}
.navTick input:checked{
    background-color: #000000 !important;
    border-color: black !important;
}

.marketing2 a {
    background: linear-gradient(-45deg, #dd4797, #fd8534) !important;
    color: black;
}

.marketing2 a:hover {
    background: linear-gradient(-45deg, #dd479795, #fd853495) !important;
    color: black;
}

.marketing2 a:active {
    background: linear-gradient(-45deg, #dd479795, #fd853495) !important;
    color: black !important;
}

.sendmeBtn:hover {
    background: linear-gradient(-45deg, #dd479795, #fd853495) !important;
    color: black;
}

.sendmeBtn:active {
    background: linear-gradient(-45deg, #dd4797, #fd8534) !important;
    color: black;
}



.dropdown-menu {
    background-color: #000000;
    border-radius: 20px;
}

.dropdown-item p {
    display: inline-block;
    color: #ffffff !important;
}

.dropdown-item p {
    display: inline-block;
    color: #ffffff !important;
}

.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0);
}

.marketing img {
    filter: invert(10);
}

.marketing h2 {
    color: #fd8534;
    font-weight: 500 !important;
}

.marketing p {
    color: #dd4797;
    font-weight: 500;
}

.modal-header {
    border-bottom: 2px solid black;
}

.modal-footer {
    border-top: 2px solid black;
}

.modal-footer .btn {
    background-color: transparent;
    border: 2px solid black;
}

.modal-footer .btn:active {
    background-color: transparent;
    border: 2px solid rgb(72, 72, 72);
}

.modal-content {
    background: linear-gradient(-45deg, #dd4797, #fd8534);
    color: #000000;
    font-weight: 500;
}

.modalEmail {

    background-color: transparent !important;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid black !important;

}

.modalEmail:focus {
    background-color: transparent;
    box-shadow: none;
}

.productOneMain h2 {
    color: rgba(255, 255, 255, 0);
    background: linear-gradient(to left, #dd4797, #fd8534);
    background-clip: text;
    -webkit-background-clip: text;
}

.productOneMain h2:before {

    background-image: linear-gradient(to left, #00000000, #ffffff);
}

.productOneMain h2:after {

    background-image: linear-gradient(to right, #dd479700, #ffffff);
}

.productTwoOuter {
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-radius: 50px;
    background-image: linear-gradient(-45deg, #dd4797, #fd8534) !important;
}

.productTwoOuter h2 {
    color: rgb(0, 0, 0);
}

.productTwoOuter a {
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.productTwoOuter h2:before {

    background-image: linear-gradient(to left, #00000000, #000000);
}

.productTwoOuter h2:after {

    background-image: linear-gradient(to right, #dd479700, #000000);
}

.productsDad {
    background-color: #00000095;
    border-radius: 40px;

}

.productsDad .btn {
    background-image: linear-gradient(-45deg, #dd4797, #fd8534) !important;
    color: black !important;
    font-weight: 500;
}

.productsDad h3 {
    color: rgba(255, 255, 255, 0);
    background: linear-gradient(to left, #dd4797, #fd8534);
    background-clip: text;
    -webkit-background-clip: text;
}

.productsDad:hover h3 {
    color: rgba(255, 255, 255, 0);
    background: linear-gradient(to left, #dd4797, #fd8534);
    background-clip: text;
    -webkit-background-clip: text;
}

.productsDad p {
    color: rgb(255, 255, 255);
    font-weight: 500;

}

.productsDad h5 {
    color: rgb(255, 255, 255);

}

.productsDad h5 span {
    color: rgb(152, 152, 152);

}

.KnowMoreDiv .form-check {

    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}

.KnowMoreDiv .form-check label {
    color: white;
    font-weight: 500;
}
.KnowMoreDiv h4 {
    color: rgba(255, 255, 255, 0);
    background: linear-gradient(to left,#dd4797 ,#dd4797 ,#dd4797, #dd4797, #fd8534);
    background-clip: text;
    -webkit-background-clip: text;
}

.marketing2 h2 {
    color: #fd8534;
    font-weight: 500 !important;
}

.marketing2 p {
    color: #dd4797;
    font-weight: 500;
}

.marketing2 a {
    color: rgb(0, 0, 0);
    font-weight: 500;
}



.footerOuter {
    background-color: #000000;
}

.footerOuter img {
    filter: invert(10);
}

.footerOuter li a {
    color: #ffffff !important;
    font-weight: 500;
    transition: all 0.2s ease-in;
}

.footerOuter li a:hover {
    background-image: linear-gradient(to left,#dd4797, #dd4797, #fd8534) !important;
    background-clip: text;
    color: #00000000 !important;
    font-weight: 500;
    transform: translateX(10px);
    display: inline-block;
    -webkit-background-clip: text;
}

.footerOuter p {
    margin-top: 10px;
    background-image: linear-gradient(to left, #dd4797, #dd4797, #fd8534) !important;
    background-clip: text;
    color: #00000000;
    -webkit-background-clip: text;
}

.footerOuter h5 {
    font-size: 25px;
    background-image: linear-gradient(to left, #dd4797, #dd4797, #fd8534) !important;
    background-clip: text;
    color: #00000000;
    -webkit-background-clip: text;
}